
# Java ========================================================================

# Compiled class file
*.class

# Log file
*.log
*.log.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# SVN
.svn/

# IDE =========================================================================

.metadata
bin/
tmp/
logs/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# local env files
.env.local
.env.*.local

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Editor directories and files
.project
.classpath
.factorypath

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node
node_modules
/dist

# Windows =====================================================================

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# macOS =====================================================================

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
